.App {
  text-align: center;
  min-height: 100vh;
}

.journalCard {
  max-width: 200px;
  min-height: 420px;
  max-height: 420px;
  background-color: white;
  border: 2px black solid;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px black;
  position: relative;
  overflow: scroll;
}

.journalCard img {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

#journalIcon {
  max-width: 100px;
}

.deleteButton {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  background-color: var(--coral);
  border: none;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
}
